@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/67306fe803f0984be33c304a.67306fe803f0984be33c304d.k6XZ61e.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.navigation-bar {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.frame-5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
  width: 100%;
}

.right-menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 99px;
}

.image {
  background-color: var(--royal-blue);
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 30px;
}

.frame-3 {
  background-color: var(--cultured-pearl);
  border-radius: 10px;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 20px;
  width: 20px;
}

.log-out {
  background-color: var(--royal-blue);
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 92px;
}

.title {
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 222px;
}

.divider {
  align-self: stretch;
  background-color: var(--mercury);
  height: 1px;
  position: relative;
  width: 100%;
}