/* screen - quiz */

.quiz {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 601px;
  position: relative;
}

.quiz .nav-bar-group {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 61px;
  padding: 0px 30px;
  position: relative;
  width: 100%;
}

.quiz .nav-bar {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60px;
  padding: 15px 0px;
  position: relative;
  width: 100%;
}

.quiz .frame-51 {
  height: 30px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 940px;
}

.quiz .frame-2 {
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  height: 12px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.quiz .text-17 {
  height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 57px;
}

.quiz .overlap-group {
  align-items: flex-start;
  background-color: #d9d9d980;
  display: flex;
  height: 79px;
  left: -86px;
  min-width: 265px;
  padding: 31px 114px;
  position: relative;
  top: -24px;
}

.quiz .log-out-1 {
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}

.quiz .text-18 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 40px;
  font-weight: 700;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.quiz .frame-11 {
  background-color: var(--royal-blue);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #3570ea;
  height: 286px;
  overflow: hidden;
  position: relative;
  width: 900px;
}

.quiz .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 59px;
  min-height: 198px;
  position: relative;
  top: 88px;
}

.quiz .text-19 {
  height: 29px;
  min-width: 670px;
  text-align: center;
}

.quiz .frame-14 {
  align-items: center;
  display: inline-flex;
  gap: 19px;
  margin-right: 1.0px;
  position: relative;
}

.quiz .frame-12 {
  background-color: #4ddeab;
  border-radius: 21px;
  height: 42px;
  position: relative;
  width: 185px;
}

.quiz .o {
  height: 29px;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.quiz .frame-13 {
  background-color: #de524d;
  border-radius: 21px;
  height: 42px;
  position: relative;
  width: 185px;
}

.quiz .x {
  height: 29px;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.quiz .frame-29 {
  background-color: var(--cultured-pearl);
  box-shadow: 0px 0px 20px 3px #4ddeab;
  height: 9px;
  width: 900px;
}

.quiz .text {
  letter-spacing: 0;
  line-height: normal;
}
